<div class="header">
  <div class="container">
    <div class="w3layouts_logo">
      <div class="pointer" (click)="goHome()"><h1>Manga<span>Blog</span></h1></div>
    </div>
    <div class="w3_search">
      <!-- <form (ngSubmit)="search()"> -->
        <input type="text" name="Search" placeholder="Search" [(ngModel)]="keyWord" #searchInput (keyup.enter)="search()" >
        <button class="findBtn" (click)="search()">SEARCH</button>
      <!-- </form> -->
    </div>
    <div class="w3l_sign_in_register">
      <ul>
        <li><i class="fa fa-phone" aria-hidden="true"></i> (+84) 366060899</li>
        <!-- <li><a href="#" data-toggle="modal" data-target="#myModal">Login</a></li> -->
      </ul>
    </div>
    <div class="clearfix"> </div>
  </div>
</div>