
  <div class="manga-info row" *ngIf="mangaDetailData && !isOnChapterScreen">
    <div class="col-md-4">
      <img src="{{ mangaDetailData.cover }}" alt="" class="img-responsive" />
    </div>
    <div class="col-md-8">
      <h3><strong>{{ mangaDetailData.name}}</strong></h3>	
      <ul class="information-ul">
        <li>
          <i class="fa fa-user-circle-o"></i>
          <label for="">Author(s) : </label>
          <span>{{ mangaDetailData.author }}</span>
        </li>
        <li>
          <i class="fa fa-user-circle-o"></i>
          <label for="">Status : </label>
          <span>{{ mangaDetailData.status }}</span>
        </li>
        <li>
          <i class="fa fa-user-circle-o"></i>
          <label for="">Last Updated : </label>
          <span>{{ mangaDetailData.updated_date }}</span>
        </li>
        <li>
          <i class="fa fa-user-circle-o"></i>
          <label for="">Genres :  : </label>
          <span>{{ mangaDetailData.tag_list }}</span>
        </li>
        <li>
          <i class="fa fa-user-circle-o"></i>
          <label for="">Description : </label>
          <span>{{ mangaDetailData.description }}</span>
        </li>
    </ul>
    </div>
  </div>


  <div class="manga-info" *ngIf="mangaDetailData && !isOnChapterScreen">

    
    <table class="table table-header">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Chapter name</th>
          <th scope="col">Views</th>
          <th scope="col">Timeuploaded</th>
        </tr>
      </thead>
    </table>
    <perfect-scrollbar  style="max-width: 722px; max-height: 400px;">
        <table class="table table-content">
            <tbody>
              <tr class="table" *ngFor="let chapterItem of chapterList">
                <td (click)="goToChapter(chapterItem.index)">{{ chapterItem.name }}</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
              </tr>
            </tbody>
        </table>
    </perfect-scrollbar>

  </div>

  <div  *ngIf="isOnChapterScreen">
    <!-- <h1 style="color:#fff">NGHIA</h1> -->
    <chapter [mangaId]="mangaId" [chapter]="chapter"></chapter>
  </div>