<section *ngIf="chapterData">

    <div class="info-top-chapter">
        <div><h2>{{ chapterData.name }}</h2></div>
        <div><h2>{{ chapter }}</h2></div>
        <div>
            <button type="button" class="btn btn-success" (click)="changeChapter(chapter-1)">PREV CHAPTER</button>
            <select class="form-control select-chapter-selecter" [ngModel]="chapter" (change)="changeChapter($event.target.value)">
                <option *ngFor="let optionItem of chapterList" value="{{optionItem.value}}" >{{optionItem.name}}</option>
            </select>
            <button type="button" class="btn btn-success" (click)="changeChapter(chapter+1)">NEXT CHAPTER</button>
        </div>
    </div>

    <div class="read-area">
        <!-- <h1 style="color: #fff">AAAAAAAAAAAAAAAAAAAAAAa</h1> -->
        <img *ngFor="let pageItem of chapterData.pages" src="{{ pageItem.track_url }}" alt="">
        <!-- <div style="color: #fff" *ngFor="let pageItem of pages">{{ pageItem }}</div> -->
    </div>


</section>

<!-- <h1 style="color: #fff">AAAAAAAAAAAAAAAAAAAAAAa</h1> -->