<div class="wthree-news-left">
    <div class="bs-example bs-example-tabs" role="tabpanel" data-example-id="togglable-tabs">
      <!-- <ul id="myTab" class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#home1" id="home1-tab" role="tab" data-toggle="tab" aria-controls="home1" aria-expanded="true">Latest News</a></li>
        <li role="presentation"><a href="#w3bsd" role="tab" id="w3bsd-tab" data-toggle="tab" aria-controls="w3bsd">Movie News</a></li>
      </ul> -->

      <div id="myTabContent" class="tab-content">
        <div role="tabpanel" class="tab-pane fade in active" id="home1" aria-labelledby="home1-tab">
          <div class="wthree-news-top-left">
            <div *ngFor="let mangaItem of mangaData" class="col-md-6 w3-agileits-news-left">
              <div class="col-sm-5 wthree-news-img">
                <img (click)="goToMangaDetail(mangaItem.id)" src="{{ mangaItem.cover }}" alt="" />
              </div>
              <div class="col-sm-7 wthree-news-info">
                <h5>{{ mangaItem.name }}</h5>
                <ul>
                  <li><i class="fa fa-clock-o"></i> {{ mangaItem.lastUpdatedDate }}</li>
                  <li><i class="fa fa-eye" aria-hidden="true"></i> {{ mangaItem.chapters_count }}</li>
                </ul>
              </div>
              <div class="clearfix"> </div>
            </div>
            <div class="clearfix"> </div>
          </div>
        </div>

      </div>
    </div>
  </div>